.bookContainer {
    margin: 0;
}

.head {
    position: relative;
    font-size: 2rem;
    text-align: center;
    font-family: "Roboto", "Helvetica Neue";
    color: #ffffff;
    margin-top: 20px;
}
.book {
}

.books {
    position: relative;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.bookContainerDetails {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .bookImgDetails {
        height: 100px;
        width: auto;
    }
}

.bookDetails {
    padding: 5px;
    /* max-width:900px ; */
}

.bookImg {
    height: 250px;
    width: 170px;
    border-radius: 2%;
    box-shadow: #554728 1px 1px 10px;
    border: #f3f3f36e solid 1px;
    margin: 10px;
}

.bookImgDetails {
    height: 360px;
    width: auto;
    border-radius: 1%;
    box-shadow: #554728 1px 1px 10px;
    border: #f3f3f36e solid 1px;
    margin: 10px;
}

.background {
    background-color: #e8cf985f;
}
/* .Header {
    border: #ed6c5c solid 2px;
    margin-bottom: 20px;
    height: 100px;
} */
.bookImgSearch {
    height: 150px;
    width: auto;
    margin: 10px;
}