.navLink {
    transition: all 0.5s;
    font-family: "Glegoo", "Roboto", "Open sans", "sans-serif";
    font-size: larger;
}
.navLink:hover {
    color: #0b1c3b;
    transition: all 0.5s;
}
.navLink:active {
    color: #000;
}

.tableContainer{
    margin: 1rem;
    padding-left: 20%;
    position: absolute;
    width: 98%;

}
 

 /* .sidebar {
    position: fixed;
    position:sticky;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: black;
    overflow:visible;
}
#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}  */

/* //npm install --save cdbreact */